* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #f5f5dc;
}

.urgentes {
    color: #66063D;
}

.paragrafo__urgentes {
    color: #66063D;
}