* {
    margin: 0%;
    padding: 0%;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #add7f6;
}

.texto__titulo {
    color: #3B28CC;
}

.texto__paragrafo {
    color: #2667FF;
}