* {
    margin: 0%;
    padding: 0%;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #D16F45;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8%;
    height: 300px;
}