@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #672200;
    color: #ffffff;
}

.texto__destaque {
    color: #FFDA62;
}

.apresentacao {
    margin: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 400px;
}

.apresentacao__titulo {
    font-size: 80px;
    font-family: "Anton", sans-serif;
}

.apresentacao__paragrafo {
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.apresentacao__links__link {
    background-color: #FFDA62;
    width: 150px;
    padding: 21.5px 0px;
    border-radius: 16px;
    font-size: 24px;
    color: #672200;
    text-align: center;
    text-decoration: none;
    font-family: "Libre Baskerville", serif;
}