* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #672200;
}

.titulo__blog {
    color: #ffffff;
}

.texto__destaque {
    color: #ffffff;
}

